body {
   background-color: #000000;
   color: white;
}
.row {
    padding-top: 50px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: white;
  color: black;
  cursor: pointer;
}

#cube-container {
    height: 400px;
}

#cube {
    position: absolute;
}
/*
.cube-selection-container {
  //background-color: #00ff00;
  position: absolute;
  height: 100%;
  top: 0%;
  left: 0%;
  width: 20%;
}
.cube-times-container {
  //background-color: #0000ff;
  position: absolute;
  height: 100%;
  top: 0%;
  right: 0%;
  width: 20%;
}
.cube-controls-container {
  //background-color: #00ffff;
  position: absolute;
  bottom: 0%;
  right: 20%; 
  width: 60%;
  height: 20%;
  display: table;   
}
.cube-selection {
  background-color: #00aa00;
  position: absolute;
  top: 35%;
  right: 0%;
  font-size: 4vmin;
  font-color: white;
   
}
.header {
  //background-color: #aa00aa; 
  text-align: center;
  margin-top: 10%;
}
*/
